<div id="<%= dom_id drink %>">
  <p>
    <strong>Name:</strong>
    <%= drink.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= drink.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= drink.price %>
  </p>

   <p>
    <strong>Image:</strong>
    <%= drink.image %>
  </p>

</div>
